<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4f_jO7NOHC-mi4WZAONxuleg8G83ZIJI</string>
	<key>BUNDLE_ID</key>
	<string>YiningChen.NEU-PLUS-thoughts</string>
	<key>CLIENT_ID</key>
	<string>255198189871-g6681henleo14re4aq9isiibkpga4h5s.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>255198189871</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:255198189871:ios:5aaef455779b6cc82369da</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>neu-plus-thoughts</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255198189871-g6681henleo14re4aq9isiibkpga4h5s</string>
	<key>STORAGE_BUCKET</key>
	<string>neu-plus-thoughts.appspot.com</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string></string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
