<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369294656648-6chdrsq7oahk1ud0e5brinoj3t5sgvc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369294656648-6chdrsq7oahk1ud0e5brinoj3t5sgvc3</string>
	<key>API_KEY</key>
	<string>AIzaSyB0OjIrWXHhdARQeFM5KAsTEe0CwOGEh9k</string>
	<key>GCM_SENDER_ID</key>
	<string>369294656648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YiningChen.NEUBlogIdea</string>
	<key>PROJECT_ID</key>
	<string>neublogidea-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>neublogidea-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369294656648:ios:c2a5e20b69debf2cfe4b3d</string>
</dict>
</plist>